<!doctype html>
<html>

<head>
	<title>AI Emotion Test</title>
	<link rel="stylesheet" href="css\styles.css">
</head>

<body>
	<h2>Select a file to upload</h2>
	<p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	</p>
	{% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}" width="500" height="600">
	</div>
	{% endif %}
	<form method="post" action="/" enctype="multipart/form-data">
		<dl>
			<p>
				<input type="file" name="file" autocomplete="off" required>
			</p>
		</dl>
		<p>
			<input type="submit" value="Submit">
		</p>
	</form>
</body>

</html>